.badge-blue {
    background-color: #14AAF5;
}

.badge-purple {
    background-color: #AB5DE6;
}

.badge-green {
    background-color: #2CC6AB;
}

.badge-orange {
    background-color: #FF9B00;
}

.badge-pink {
    background-color: #EC4A9D;
}

.badge-lime {
    background-color: #A3D116;
}


* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6f7f8;

}

#logo-toboolist {
    height: 50px;
}

header {
    background-color: white;
    padding: 8px 16px;
}

.container {
    background-color: white;
    border-radius: 6px;
    max-width: 1400px;
    width: 100%;


}


.task-container {
    padding: 25px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;


}

.button-container {
    padding: 10px 40px;
    border-bottom: 2px white solid;

}

main {
    padding-top: 28px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: center;

}

.logo {
    font-size: 50px;
    font-weight: bold;
}

.task-button {
    background-color: #14AAF5;
    border: 1px #14AAF5 solid;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    font-size: 12px;
}


#section-button {
    background-color: white;
    border: 1px rgb(177, 177, 177) solid;
    padding: 4px 10px;
    border-radius: 5px;
    font-size: 12px;

}